<h1>Orders for user <%= session[:user_id]%></h1>
<% if flash[:info] %>
  <p style="color:red"><%= flash[:info] %></p>
<% end %>

<div>There are <%= @orders.length %> orders:</div>
<ul>
	<% @orders.each do |order|%>
		<li>
			<span><%= order.id %></span>
			<span><%= link_to "View Order", orders_path(order) %></span>
			<span><%= link_to "Cancel Order", cancel_order_path(order) %></span>
			<span><%= link_to "Confirm Order", confirm_order_path(order) %></span>
		</li>
	<% end%>
</ul>