<h1>Order <%= @order.id%></h1>

<div>There are <%= @order.products.length %> products:</div>
<ul>
	<% @order.products.each do |product|%>
		<li><%= product.id %></li>
	<% end%>
</ul>

<div>
	<%= link_to "Cancel Order", cancel_order_path(@order) %>
</div>
<div>
	<%= link_to "Confirm Order", confirm_order_path(@order) %>
</div>
<div>
	<%= link_to "Click to Pay", pay_order_path(@order) %>
</div>
