<h1>Shopping cart</h1>

<div>There are <%= @cart.products.length %> products in this shopping cart</div>

<%= form_for :order, url: orders_path do |f| %>
<ul>
	<% @cart.products.each do |product| %>
	<li>
		product id: <%= f.label :productId, product.id %>
		<%= f.hidden_field :productId, name: 'productIds[]', value: product.id%>
		<%= link_to "Remove product", remove_cart_path(@cart, :productId=>product.id), :method=>:delete %>
	</li>
	<% end%>
</ul>
	<%= f.submit "Buy Products" %>
<% end%>
