<h1>Shopping cart</h1>

<div>There are <%= @productIds.length %> products in this shopping cart</div>

<%= form_for :order, url: orders_path do |f| %>
	<% @productIds.each do |productId| %>
		<%= f.label :productId, productId %>
		<%= f.hidden_field :productId, name: 'productIds[]', value: productId%>
	<% end%>
	<br/>
	<%= f.submit %>
<% end%>