<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<div>
	<span style="padding-right: 50px;"><%= link_to "Add to cart", "/carts/add?productId=#{@product.id}"%></span>
	<span><%= link_to "Back to Products", products_path %></span>
</div>