<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<div>
	<%= link_to "Add to shopping cart", addToShoppingCart_product_path(@product)%>
</div>	

<div>
	<%= link_to "Back to Products", products_path %>
</div>